// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
body {
    font-family: Lato;
}

body.active {
    overflow: hidden;
}

.hidden {
    visibility: hidden;
}

.main {
    position: relative;
}

.main::after {
    border: medium solid transparent;
    content: "";
    top: 100%;
    left: 50%;
    position: absolute;
    border-color: white rgba(255, 212, 52, 0) rgba(255, 212, 52, 0);
    border-width: 15px;
    margin-left: -15px;
}

.wrapper {
    max-width: 1600px;
    margin: 0px auto;
}

.top__body {
    height: 800px;
    background-image: url('../img/bg.png');
    background-position: center;
    @media (max-width: 700px) {
        height: 700px;
    }
}

.top__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0px;
    background-color: rgba(173, 173, 173, 0.4);
    @media (max-width: 700px) {
        justify-content: space-between;
        padding: 20px 20px;
    }
}

.top__links {
    @media (max-width: 700px) {
        display: none;
    }
}

.top__link {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #4d4959;
}

.top__links a {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #4d4959;
    @media (max-width: 700px) {
        display: none;
    }
}

.link_1 {
    margin-right: 76px;
}

.link_2 {}

.link_3 {
    margin-right: 76px;
}

.link_4 {}

.top__logo {
    padding: 0px 65px;
    @media (max-width: 700px) {
        padding: 0px;
    }
}

.top__image {
    @media (max-width: 700px) {
        max-width: 70px;
    }
}

.top__burger {
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 3;
    overflow: hidden;
    display: none;
    @media (max-width: 700px) {
        display: block;
    }
}

.top__burger.active {
    position: fixed;
    right: 20px;
}

.top__burger span {
    width: 40px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #64c29e;
    transition: all 0.5s;
}

.top__burger span:nth-of-type(2) {
    top: calc(50% - 8px);
}

.top__burger span:nth-of-type(3) {
    top: calc(50% + 8px);
}

.top__burger.active span:first-of-type {
    transform: translateX(100%);
}

.top__burger.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.top__burger.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.top__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: rgb(208, 214, 213);
    transform: translateX(-100%);
    transition: transform 0.5s;
    display: none;
    z-index: 1;
    @media (max-width: 700px) {
        display: flex;
    }
    a {
        list-style-type: none;
    }
}

.top__wrapper_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 100px;
}

.top__menu.active {
    transform: translateX(100%);
}

.bike__body {
    height: 469px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 35px;
    padding: 0px 30px;
    @media (max-width: 1067px) {
        height: 650px;
    }
}

.bike__title {
    text-align: center;
}

.title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #353738;
}

.bike__text {
    max-width: 1080px;
    text-align: center;
}

.text {
    font-size: 18px;
    line-height: 34px;
    color: #848789;
}

.vintage__wrapper {
    display: flex;
    @media (max-width: 1067px) {
        flex-direction: column;
    }
}

.vintage__main {
    max-width: 530px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 66px 77px 66px;
    background-color: #ffffff;
    text-align: center;
    @media (max-width: 1400px) {
        padding: 40px 36px 47px 36px;
    }
    @media (max-width: 1067px) {
        max-width: 100%;
    }
    @media (max-width: 350px) {
        height: 430px;
    }
}

.vintage__icon {
    padding-bottom: 30px;
}

.vintage__title {
    padding-bottom: 25px;
}

.vintage__text {
    font-size: 16px;
    line-height: 30px;
}

.vintage__image {
    max-width: 1067px;
    max-height: 600px;
}

.image {
    max-width: 100%;
    height: 600px;
    object-fit: cover;
    @media (max-width: 1067px) {
        position: static;
        object-fit: none;
        width: 100%;
    }
}

.image_2 {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    @media (max-width: 1067px) {
        object-fit: cover;
        width: 200%;
        height: 200%;
    }
}

.boriosa__wrapper {
    display: flex;
    @media (max-width: 1067px) {
        flex-direction: column-reverse;
    }
}

.boriosa__column_1 {
    order: 2;
}

.boriosa__column_2 {
    order: 1;
}

.boriosa__image {
    max-width: 1067px;
    max-height: 600px;
    @media (max-width: 1067px) {
        order: 1;
    }
    @media (max-width: 350px) {
        order: 1;
    }
}

.boriosa__main {
    max-width: 530px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 66px 77px 66px;
    background-color: #ffffff;
    text-align: center;
    @media (max-width: 1400px) {
        padding: 40px 36px 47px 36px;
    }
    @media (max-width: 1067px) {
        order: 2;
        max-width: 100%;
    }
    @media (max-width: 350px) {
        order: 2;
        height: 430px;
    }
}

.boriosa__icon {
    padding-bottom: 30px;
}

.boriosa__title {
    padding-bottom: 25px;
}

.boriosa__text {
    font-size: 16px;
    line-height: 30px;
}

.retro__wrapper {
    display: flex;
    @media (max-width: 1067px) {
        flex-direction: column;
    }
}

.image_column {
    @media (max-width: 1067px) {
        object-fit: cover;
        width: 200%;
        height: 200%;
    }
}

.retro__main {
    max-width: 530px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 66px 77px 66px;
    background-color: #ffffff;
    text-align: center;
    @media (max-width: 1400px) {
        padding: 40px 36px 47px 36px;
    }
    @media (max-width: 1067px) {
        order: 2;
        max-width: 100%;
    }
    @media (max-width: 350px) {
        order: 2;
        height: 430px;
    }
}

.retro__icon {
    padding-bottom: 30px;
}

.retro__title {
    padding-bottom: 25px;
}

.retro__text {
    font-size: 16px;
    line-height: 30px;
}

.slider-twitter {
    height: 469px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 35px;
    padding: 0px 30px;
    text-align: center;
    @media (max-width: 1067px) {
        height: 650px;
    }
}

.social__title::after {
    content: '/  35 min';
    font-weight: 300;
    color: #848789;
}

.social__body {
    max-width: 1600px;
    background-color: #f7f7f7;
}

.slider-twitter {}

.social__icon {
    display: flex;
    justify-content: center;
    padding-top: 125px;
    @media (max-width: 1067px) {
        padding-top: 60px;
    }
    @media (max-width: 350px) {
        padding-top: 30px;
    }
}

.social__title {
    padding-top: 37px;
    padding-bottom: 27px;
}

.social__text {
    padding: 0px 30px;
    padding-bottom: 150px;
    @media (max-width: 1067px) {
        padding: 0px 20px;
    }
    @media (max-width: 350px) {
        padding-top: 0px 15px;
    }
}

.single-item {
    padding: 0px;
}

.slick-track {
    margin-right: -50px;
}

.slick-dots {
    border-top: 10px solid #f7f7f7;
    background-color: #f7f7f7;
}

.shop__body {}

.shop__wrapper {
    display: flex;
    @media (max-width: 1600px) {
        flex-direction: column;
    }
}

.shop__column_1 {
    display: flex;
    flex-direction: column;
}

.shop__column_two {
    display: flex;
    @media (max-width: 540px) {
        flex-direction: column;
    }
}

.shop__column_2 {
    display: flex;
    @media (max-width: 540px) {
        flex-direction: column;
    }
}

.shop__column_3 {
    display: flex;
    flex-direction: column;
}

.image_shop_small {
    img {
        width: 100%;
    }
    @media (max-width: 1600px) {
        width: 50%;
    }
    @media (max-width: 540px) {
        width: 100%;
    }
}

.image_shop_height {
    img {
        width: 100%;
    }
    @media (max-width: 1600px) {
        width: 50%;
    }
    @media (max-width: 540px) {
        width: 100%;
        height: 100%;
    }
}

.image_shop_width {
    width: 100%;
    height: 100%;
    @media (max-width: 1600px) {
        width: 100%;
        height: 100%;
    }
}

.shop__anim {
    position: relative;
    &:hover .shop-hover {
        visibility: visible;
        cursor: pointer;
        animation: shop-hover-animation 1s;
    }
}

.shop-hover {
    visibility: visible;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(94, 211, 191, 0.7);
    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 14px;
        opacity: 1;
        & p {
            font-size: 14px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            color: #ffffff;
        }
        & img {
            width: 51px;
            height: 30px;
        }
    }
}

@keyframes shop-hover-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.discover__body {
    background-color: #282f35;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px 0px;
}

.discover_button {
    border: 1px solid rgba(255, 255, 255, 0.49);
    font-size: 14px;
    font-weight: 700;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discover_btn {
    width: 300px;
    height: 50px;
    color: #ffffff;
    background-color: #282f35;
    @media (max-width: 430px) {
        width: 250px;
        height: 41.9px;
        font-size: 13px;
    }
}

.discover_button:hover {
    cursor: pointer;
}

.discover_btn:hover {
    background-color: #76bda0;
    opacity: 0.9;
    color: black;
}

.email__body {
    background-color: #ffffff;
}

.email__wrapper {
    display: flex;
    flex-direction: column;
    column-gap: 35px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 110px 0px;
}

.email__logo {}

.email__text {
    font-size: 24px;
    line-height: 34px;
    font-style: italic;
    color: #848789;
}

.email__input {
    display: flex;
    gap: 8px;
}

.email__textarea {
    width: 400px;
    height: 69px;
    background-color: #ffffff;
    border: 1px solid #d3d7d9;
    padding: 28px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
    @media (max-width: 600px) {
        width: 231px;
        height: 40px;
        padding: 3px;
    }
}

.email__button {
    width: 126px;
    height: 69px;
    background-color: #64c29e;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    @media (max-width: 600px) {
        width: 73px;
        height: 40px;
    }
}

.footer__body {
    background-color: #f7f7f7;
}

.footer__wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    align-items: center;
    padding: 100px 20px;
    @media (max-width: 700px) {
        flex-direction: column;
        column-gap: 30px;
        gap: 50px;
        padding: 50px 20px;
    }
}

.footer__column_1 {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    column-gap: 2px;
}

.footer__column_2 {
    width: 33.3%;
    display: flex;
    column-gap: 15px;
    justify-content: center;
}

.footer__column_3 {
    width: 33.3%;
    display: flex;
    column-gap: 9px;
    white-space: nowrap;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: 700px) {
        justify-content: center;
    }
}

.footer__text_big {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: #848789;
}

.footer__text_small {
    font-size: 11.9px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
}

.footer__column {
    @media (max-width: 700px) {
        width: 100%;
        padding: 0px 20px;
        text-align: center;
        .footer__text_big {
            font-size: 20px;
        }
        .footer__text_small {
            font-size: 17px;
        }
    }
}